.loading-dimmer{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
    background:  rgba(0,0,0,.5);
    background-size:32px 32px ;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after{
        content:"";
        display: block;
        width: 32px;
        height:32px;
        background-image: url(../../../img/ajax-loader.gif);
        background-size: 32px 32px;
       
    }
}